ul {
    list-style-type: none;
}

.column {
    width: 50%;
}

// Centre le haut de la page, avec l'histoire et le numéro du chapitre
.story {
    text-align: center;
}

.zone {
    width: 80%;
    min-height: 30em;
    height: auto;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
    margin-top: 50vh; // poussé de la moitié de hauteur de viewport 
    transform: translateY(-50%); // tiré de la moitié de sa propre hauteur 
}

