<app-dashboard></app-dashboard>

<button class="btn btn-secondary" (click)="goBack()">&#x21FD; retour</button>

<div *ngIf="emplacement" style="text-align: center">
  <h2>Détail sur : {{emplacement.Id}}</h2>
  <label>
    Hauteur:
    <input class="form-control" [(ngModel)]="emplacement.Hauteur" placeholder="hauteur" trim />
    Largeur:
    <input class="form-control" [(ngModel)]="emplacement.Largeur" placeholder="largeur" trim />
    X:
    <input class="form-control" [(ngModel)]="emplacement.X" placeholder="x" trim />
    Y:
    <input class="form-control" [(ngModel)]="emplacement.Y" placeholder="y" trim />
  </label>
  <br><br>
  <button class="btn btn-info" (click)="save()">Sauvegarder</button>
  <button class="btn btn-danger" title="Supprimer l'emplacement" (click)="delete(emplacement)">Supprimer</button>
</div>
