<app-dashboard></app-dashboard>

<div class="row">
  <!-- Colonne de gauche -->
  <div class="col-6" style="text-align: center">
    <h2>Liste des sortilèges</h2>
    <ul class="list-group">
      <li *ngFor="let sortilege of sortileges">
        <a routerLink="/sortileges/detail/{{sortilege.Id}}" class="list-group-item list-group-item-action" style="margin-right: auto;margin-left: auto;width: 50%">
          <span class="badge">{{sortilege.Id}}</span> {{sortilege.Nom}}
        </a>
      </li>
    </ul>
  </div>

  <!-- Colonne de droite -->
  <div class="col-6" style="text-align: center">
    <h3>Ajout d'un sortilège</h3>
    <div>
      <label>
        Nom:
        <input [(ngModel)]="sortilegeNom" class="form-control"><br>
        Description:
        <textarea [(ngModel)]="sortilegeDescription" class="form-control"></textarea><br>
        Type:
        <ng-multiselect-dropdown [placeholder]="'Sélection du type du sortilège'"
                                 [data]="types"
                                 [(ngModel)]="selectedType"
                                 [settings]="dropdownSettings"
                                 (onDeSelect)="nullType();">
        </ng-multiselect-dropdown>
        <div *ngIf="selectedType && sortilegeNom">
          <div *ngIf="selectedType[0].id === 1">
            Effet:
            <input [(ngModel)]="sortilegeEffet" class="form-control"><br>
          </div>
          
          <div *ngIf="selectedType[0].id === 2 || selectedType[0].id === 3">
            Puissance:
            <input [(ngModel)]="sortilegePuissance" class="form-control"><br>
          </div>
          
          <!-- (click) passes input value to add() and then clears the input -->
          <button class="btn btn-success" (click)="add();">Ajouter</button>
        </div>
      </label>
    </div>
  </div>
</div>


