<app-dashboard></app-dashboard>

<div class="row">
  <!-- Colonne de gauche -->
  <div class="col-6" style="text-align: center">
    <h2>Liste des emplacements</h2>
    <ul class="list-group">
      <li *ngFor="let emplacement of emplacements">
        <a routerLink="/emplacements/detail/{{emplacement.Id}}" class="list-group-item list-group-item-action" style="margin-right: auto;margin-left: auto;width: 50%">
          <span class="badge">{{emplacement.Id}}</span> Emplacement {{emplacement.Id}}
        </a>
      </li>
    </ul>
  </div>

  <!-- Colonne de droite -->
  <div class="col-6" style="text-align: center">
    <h3>Ajout d'un emplacement</h3>
    <div>
      <label>
        Hauteur:
        <input #emplacementHauteur class="form-control"><br>
        Largeur:
        <input #emplacementLargeur class="form-control"><br>
        X:
        <input #emplacementX class="form-control"><br>
        Y:
        <input #emplacementY class="form-control"><br>
        <!-- (click) passes input value to add() and then clears the input -->
        <button class="btn btn-success"
                (click)="add(emplacementHauteur.value,
                            emplacementLargeur.value,
                            emplacementX.value,
                            emplacementY.value)">Ajouter</button>
      </label>
    </div>
  </div>
</div>