<app-dashboard></app-dashboard>

<div class="row">
  <!-- Colonne de gauche -->
  <div class="col-6" style="text-align: center">
    <h2>Liste des indices</h2>
    <ul class="list-group">
      <li *ngFor="let indice of indices">
        <a routerLink="/indices/detail/{{indice.Id}}" class="list-group-item list-group-item-action" style="margin-right: auto;margin-left: auto;width: 50%">
          <span class="badge">{{indice.Id}}</span> {{indice.Nom}}
        </a>
      </li>
    </ul>
  </div>

  <!-- Colonne de droite -->
  <div class="col-6" style="text-align: center">
    <h3>Ajout d'un indice</h3>
    <div>
      <label>
        Nom:
        <input #indiceNom class="form-control"><br>
        Description:
        <input #indiceDescription class="form-control"><br>
        URL:
        <input #indiceUrl class="form-control"><br>

        <!-- (click) passes input value to add() and then clears the input -->
        <button class="btn btn-success"
                (click)="add(indiceNom.value,
                            indiceDescription.value,
                            indiceUrl.value);">Ajouter</button>
      </label>
    </div>
  </div>
</div>




