<div *ngIf="alert" class="alert alert-danger" role="alert">
    {{ alert }}
</div>

<div id="zone">
    <label>
        Bienvenue dans le jeu Harry Potter !<br><br>
        Pour commencer à jouer, choisis ton pseudo ;)<br><br>
        <input #joueurNom class="form-control"/><br><br>
        <button class="btn btn-success" (click)="lancerJeu(joueurNom.value)">Let's go !</button>
        <br><br>
        <button class="btn btn-info" (click)="continueGame(joueurNom.value)">Reprendre la partie</button>
    </label>
</div>