<ul class="nav">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Interface</a>
    <div class="dropdown-menu">
      <a class="nav-link active" routerLink="/dashboard">Admins</a>
      <a class="nav-link active" routerLink="/game">Jeu</a>
    </div>
  </li>
</ul>

<router-outlet></router-outlet>