<app-dashboard></app-dashboard>

<div class="row">
  <!-- Colonne de gauche -->
  <div class="col-6" style="text-align: center">
    <h2>Liste des événements</h2>
    <ul class="list-group">
      <li *ngFor="let evenement of evenements">
        <a routerLink="/evenements/detail/{{evenement.Id}}" class="list-group-item list-group-item-action" style="margin-right: auto;margin-left: auto;width: 50%">
          <span class="badge">{{evenement.Id}}</span> {{evenement.Description}}
        </a>
      </li>
    </ul>
  </div>

  <!-- Colonne de droite -->
  <div class="col-6" style="text-align: center">
    <h3>Ajout d'un événement</h3>
    <div>
      <label>
        Description:
        <input #evenementDescription class="form-control"><br>
        <h3>Emplacement:</h3><br>
        Hauteur:
        <input [(ngModel)]="emplacementH" class="form-control"><br>
        Largeur:
        <input [(ngModel)]="emplacementL" class="form-control"><br>
        X:
        <input [(ngModel)]="emplacementX" class="form-control"><br>
        Y:
        <input [(ngModel)]="emplacementY" class="form-control"><br>
        Chapitre:
        <ng-multiselect-dropdown [placeholder]="'Sélection du chapitre de l événement'"
                                [data]="chapitres"
                                [(ngModel)]="selectedChapitre"
                                [settings]="dropdownSettings2"
                                (onDeSelect)="nullChap();">
        </ng-multiselect-dropdown><br>
        Cliquable:
        <div *ngIf="!selectedSortilege && !selectedIndice && !selectedMonstre">
          Objet:
          <ng-multiselect-dropdown [placeholder]="'Sélection d un objet pour l événement'"
                                  [data]="objets"
                                  [(ngModel)]="selectedObjet"
                                  [settings]="dropdownSettings1"
                                  (onDeSelect)="nullAll();">
          </ng-multiselect-dropdown>
        </div>
        <div *ngIf="!selectedObjet && !selectedIndice && !selectedMonstre">
          Sortilège:
          <ng-multiselect-dropdown [placeholder]="'Sélection d un sortilège pour l événement'"
                                  [data]="sortileges"
                                  [(ngModel)]="selectedSortilege"
                                  [settings]="dropdownSettings1"
                                  (onDeSelect)="nullAll();">
          </ng-multiselect-dropdown>
        </div>
        <div *ngIf="!selectedObjet && !selectedSortilege && !selectedMonstre">
          Indice:
          <ng-multiselect-dropdown [placeholder]="'Selection d un indice pour l evenement'"
                                  [data]="indices"
                                  [(ngModel)]="selectedIndice"
                                  [settings]="dropdownSettings1"
                                  (onDeSelect)="nullAll();">
          </ng-multiselect-dropdown>
        </div>
        <div *ngIf="!selectedObjet && !selectedSortilege && !selectedIndice">
          Monstre:
          <ng-multiselect-dropdown [placeholder]="'Selection d un monstre pour l evenement'"
                                  [data]="monstres"
                                  [(ngModel)]="selectedMonstre"
                                  [settings]="dropdownSettings1"
                                  (onDeSelect)="nullAll();">
          </ng-multiselect-dropdown>
        </div>
        <!-- (click) passes input value to add() and then clears the input -->
        <div *ngIf="selectedChapitre && (selectedSortilege || selectedMonstre || selectedObjet || selectedIndice)">
          <button class="btn btn-success" (click)="add(evenementDescription.value);">Ajouter</button>
        </div>
      </label>
    </div>  
  </div>
</div>



