<app-dashboard></app-dashboard>

<button class="btn btn-secondary" (click)="goBack()">&#x21FD; Retour</button>

<div *ngIf="objet" style="text-align: center">
  <h2>Détails sur : {{objet.Nom}}</h2>
  <div>
    <label>
      Id: {{objet.Id}}<br><br>
      Nom:
      <input class="form-control" [(ngModel)]="objet.Nom" placeholder="nom" trim><br>
      Description:
      <input class="form-control" [(ngModel)]="objet.Description" placeholder="description" trim><br>
      URL:
      <input class="form-control" [(ngModel)]="objet.Url" placeholder="url" trim><br>
      Puissance:
      <input class="form-control" [(ngModel)]="objet.Puissance" placeholder="puissance" trim><br>
      Type:
      <ng-multiselect-dropdown [placeholder]="'Sélection du type de l objet'"
                               [data]="types"
                               [(ngModel)]="selectedType"
                               [settings]="dropdownSettings"
                               (onDeSelect)="nullType();">
      </ng-multiselect-dropdown>
    </label>
  </div>
  <br>
  <button class="btn btn-info" (click)="save()">Sauvegarder</button>
  <button class="btn btn-danger" title="Supprimer l'objet" (click)="delete(objet)">Supprimer</button>
</div>
